{% extends "base.html.twig" %}

{% block body %}
<div class="container">

<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8">

    <!-- Blog Post -->
   {% for entry in entries %}
    <div class="card mb-4">
      <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{entry._source.title}}</h2>
        <p class="card-text">{{entry._source.content}}</p>
        <a href="http://localhost/blog/single/index/{{entry._source.post_id}}" class="btn btn-primary">Read More &rarr;</a>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
  </div>
{% endblock %}